#main_menu {    
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 120%;
}

#main_menu ul {
    list-style: none;
    padding: 10px 0px;
    width: 100%;
}

#main_menu ul li {
    display: inline;
}

#main_menu ul li a {
    color:#fff;
    background: #333;
    border: 1px #000 solid;
    border-bottom: none;
    padding: 10px 14px;
}

#main_menu ul li a:hover {
    background: #333;
    padding: 10px 14px;
}

#main_menu ul li a.current {
    color:#eee;
    background:#111;
    border: 1px #999 solid;
    padding: 10px 14px;
}