pre {
    font-family: Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;
    font-size: 0.8em;
    line-height: 1.2;
    padding: 10px;
    background-color: #eee;

}

#system_message {
    color:#070;
    background-color: grey;
}

blockquote {
    font-size: 0.8em;
    font-family:Courier New, Courier;
}

#php {
    background-color: #eee;
    font-size: 0.7em;
    font-family:Courier New, Courier;

}

code {
    font-family: Consolas,Monaco,Liberation Mono,Lucida Console,Monospace;
}

.filter  {
    color: #123;
    padding: 0px 0px 0px 0px;
    margin-left: 40px;
    text-align: left;
    list-style-type:circle;
    vertical-align:top;
}

#logo_img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#main_menu {
    background: #fff;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 180%;
}

#main_menu ul {
    list-style: none;
    border-bottom: none;
    padding: 10px 0px;
    width: 100%;
}

#main_menu ul li {
    display: inline;
}

#main_menu ul li a {
    color:#333;
    background: #f7f7f7;
    border: 1px #CCC solid;
    border-bottom: none;
    padding: 10px 14px;
}

#main_menu ul li a:hover {
    background: #eee;
    padding: 10px 14px;
}

#main_menu ul li a.current {
    color:#a00;
    background:#aaa;
    border: 1px #999 solid;
    border-bottom: 1px #aaa solid;
    padding: 10px 14px;
}


#module_menu {
    font-family: 'Times New Roman',Times,serif;
    font-size: 140%;
}

#module_menu ul {
    padding: 0px;
    position: relative;
}

#module_menu li {
    display: inline;
}

#module_menu li a.current {
    background: #eee;
    color: #333;
}

#sidebar_left{
    float: left;
    width: 180px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 110%;
    padding: 0px 0px 0px 20px;
    border: 1px #999999 solid;
}

#sidebar_left ul  {
    color: #333;
    text-align: left;
    padding: 0px 6px 0px;
    vertical-align:top;

}
#sidebar_left li a.current {
    color: #700;
}

#sidebar_left a:link {
    text-decoration: none;
    color: #333;
}
#sidebar_left a:visited {
    text-decoration: none;
    color: #333;
}

#sidebar_left a:hover {
    text-decoration: none;
    color: #700;
}

#sidebar_left a:active {
    text-decoration: none;
    color: #000;
}

#sidebar_left h3 {
    margin: 20px 0px 0px 0px;

}

a:link {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

a:active {
  color: #700;
}
img{
    border-style: none;
}

body {
    font: normal 14px/20px Georgia, serif;
    color: #333;
}

#page {

}

#header {
    margin-left: 200px;

    width: 80%;
    background: #fff;
}

#search {
    text-align: right;
}


#sidebar_right {
    margin-left: 85%;
    position:absolute;
    float:right;
    padding: 1em;

}

#content {
    font-size: 1.1em;
    width: 100%;
}


#content_image {
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    float:right;
}


#tabledebug {
    background-color: #fff;
    border: 1px solid gray;
}

#tabledebug td, tr {
    background-color: #fff;
    border: 1px solid gray;
}

.form_error {
   color: #F58;
}

.form_confirm {
    color: #007;
}

.system_message {
    color: #070;
}

fieldset {
    display: block;
    border:1px solid grey;
}

label {
    display: block;
    float:left;
}


.headline {
    font-size: 150%;
    line-height: 100%;
    font-weight:bold;

}

.headline a {
    color:#700;
    background-color:#fff; 
    line-height: 200%;
}

#footer {
    text-align: center;
    clear: both;
}

#thick_hr {
    color: #007;
    background-color: #aaa;
    height: 0.1px;
}

#thin_hr {
    color: #007;
    background-color: #aaa;
    height: 0.1px;
}

hr {
    height: 1px;
    color: #000;
    background-color: #000;
    /* background: #fff url(hr.gif) no-repeat scroll center; */

    
}

#pager b {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;

}

#pager a {
    border: 1px solid #aaa;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
}

.small-font {
    font-size: 75%;
}


 h1 {

    font-size: 600%;
}

