code {
  background:  #eee;

}


#hidden {
    filter:alpha(opacity=90);
    -moz-opacity:0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
    text-align:right;
}

.filter  {
    color: #123;
    padding: 0px 0px 0px 0px;
    margin-left: 40px;
    text-align: left;
    list-style-type:circle;
    vertical-align:top;
}

#logo_title {
    font-size: 600%;
    margin-bottom: 50px;
    font: 600;
    margin-left: 205px;
    margin-top: 120px;
}

#logo_img {

    width: 100%;

}


#main_menu li {
    margin-left: -40px;
    list-style: none;

}
#main_menu li a {
    float: left;
    display: block;
    background: #ad8c79;
    padding: 0px 12px 0px 12px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 50px;
}

#main_menu li a.current {
    background: #d0df78;
    color: #fff;
}


#main_menu li a:hover {
    background: #d0df78
}


#block_menu {


}

#block_menu_right {

}

#sidebar_left{ 
    background-color: #f8f1e7;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

.block {

}

#content_tree ul  {
    color: #7d4c34;
    list-style: none;
    padding: 0px 7px 0px;
}

#content_tree li {
    list-style: none;
}

#content_tree a {
    font-size: 225%;
    line-height: 100%;
}

#content_tree li a.current {
    color: #d0df78;
    list-style: none;
}


#content_tree a:link {
    text-decoration: none;
    color: #7d4c34;
}

#content_tree a:visited {
    text-decoration: none;
    color: #7d4c34;
}

#content_tree a:hover {
    text-decoration: none;
    color: #d0df78
}


#sidebar_left h3 {
    font-size: 200%;
}


hr {
    display: block;
    color: #7d4c34;
}

a:link {
    color: #ad8c79;
    text-decoration: none;
}

a:visited {
    color: #ad8c79;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #666
}

a:active {
    color: #ad8c79;
    text-decoration: none;
}

img {
    border-style: none;
}

body {
    font: normal 13px/20px Arial, sans-serif;
    color: #7d4c34;
    background-image: url("/templates/mandlen/body_top.jpg");
    background-position: 50% 50%;
    background-repeat:no-repeat;
}

html {
    height: 100%;
    /* overflow:scroll; */
    /** for scrollbars hidden use overflow:hidden; */
}




/* specific divs */
#page {
    filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;


    position:absolute;
    width: 100%;
    text-align:left;
}



#search {
    text-align: right;
}


#sidebar_right {
    padding-top: 12px;
    background-color: #f8f1e7;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#content {
    background-color: #f8f1e7;
    padding: 10px;
}

fieldset {
    /* color:#000; */

    /*background-color:#ddd;*/

    border:1px solid #ad8c79;
}

#content_image {
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    float: right;
}


#tabledebug {
    background-color: #fff;
    border: 1px solid gray;
}

#tabledebug td, tr {
    background-color: #fff;
    border: 1px solid gray;
}

#form_error {
   color: #F2583E;
}

#form_confirm {
    color: #ad8c79;
}

#system_message {
}

fieldset {
    display: block;
}

label {
    display: block;
    float:left;
}

#module_menu {
    font-weight: bolder;
}

#module_menu ul {
    
    padding: 0;
    position: relative;

    background-color: #d0df78;
}

#module_menu li {
    display: inline;

}

.headline {
    font-size: 150%;
    font-weight: bold;
}

.ul_no_style {
    list-style: none;
}

#footer {
    text-align: center;
    clear: both;
}

#thick_hr {
    color: #7d4c34;
    background-color: #aaa;
    height: 0.1px;
}

#thin_hr {
    color: #7d4c34;
    background-color: #aaa;
    height: 0.1px;
}